
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Page | <%= title %></title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
   
<div class="error">
    <p>
        More random text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse potenti.
    </p>
     <h1>ERROR!!</h1>
</div>
<%- include("./partials/footer.ejs") %>
</body>
</html>
