
<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <p>
        More random text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse potenti.
    </p>
<div class="about content">
    <h2>About</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo assumenda accusantium delectus placeat aperiam. Maiores, minima ipsum! Accusantium, ad nulla. Eum sunt non obcaecati excepturi unde quia consequuntur, reprehenderit fugiat.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reiciendis, magnam deserunt mollitia autem eveniet modi nobis explicabo, maiores rem dolore vitae corrupti pariatur quia aperiam accusamus veniam quo dolorem.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo assumenda accusantium delectus placeat aperiam. Maiores, minima ipsum! Accusantium, ad nulla. Eum sunt non obcaecati excepturi unde quia consequuntur, reprehenderit fugiat.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reiciendis, magnam deserunt mollitia autem eveniet modi nobis explicabo, maiores rem dolore vitae corrupti pariatur quia aperiam accusamus veniam quo dolorem.</p>
</div>
<%- include("./partials/footer.ejs") %>
</body>
</html>

